Internet Resources:

[Python Programming.net - machine learning episodes 39-42](https://pythonprogramming.net/hierarchical-clustering-mean-shift-machine-learning-tutorial/)

In [1]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import MeanShift
from sklearn import preprocessing
import pandas as pd

# data from https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls
df = pd.read_excel('data/titanic.xls') 
'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''

original_df = pd.DataFrame.copy(df)

df.drop(['body','name'], 1, inplace=True)
df.apply(pd.to_numeric, errors="ignore")
df.fillna(0, inplace=True)

# handling non linear data:
# every unique feature value gets a different integer number
# e.g. female becomes 0, male becomes 1
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

df = handle_non_numerical_data(df)
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,0,29.0000,0,0,761,211.3375,83,3,1,259
1,1,1,1,0.9167,1,2,511,151.5500,20,3,4,277
2,1,0,0,2.0000,1,2,511,151.5500,20,3,0,277
3,1,0,1,30.0000,1,2,511,151.5500,20,3,0,277
4,1,0,0,25.0000,1,2,511,151.5500,20,3,0,277

In [2]:
# train
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X) # https://scikit-learn.org/stable/modules/preprocessing.html
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

# lets take a look at the different clusters mean shift has found
labels = clf.labels_
cluster_centers = clf.cluster_centers_
original_df['cluster_group']=np.nan

for i in range(len(X)):
    original_df.at[i, 'cluster_group'] = labels[i] 

n_clusters_ = len(np.unique(labels))

survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ] # temp only has data with cluster_group i
    #print(temp_df.head())
    
    survival_cluster = temp_df[  (temp_df['survived'] == 1) ] # temp df just with only suvivors
    
    survival_rate = len(survival_cluster) / len(temp_df)
    print("Cluster ", i,": ",survival_rate)
    survival_rates[i] = survival_rate

Cluster  0 :  0.3783151326053042
Cluster  1 :  0.8235294117647058
Cluster  2 :  0.1

In [3]:
# detailed look at clusters
for i in range(n_clusters_):
    print("Cluster "+str(i)+ ":\n")
    print(original_df[(original_df['cluster_group'] == float(i))].describe())
    print("\n\n\n")

Cluster 0:

            pclass     survived          age        sibsp        parch  \
count  1282.000000  1282.000000  1021.000000  1282.000000  1282.000000
mean      2.306552     0.378315    29.689194     0.485959     0.322933
std       0.830961     0.485156    14.383434     1.038767     0.670736
min       1.000000     0.000000     0.166700     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    38.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     4.000000

              fare        body  cluster_group
count  1281.000000  119.000000         1282.0
mean     29.398523  159.571429            0.0
std      38.294234   97.302914            0.0
min       0.000000    1.000000            0.0
25%       7.895800   71.000000            0.0
50%      13.900000  155.000000            0.0
75%      30.000000  255.500000            0.0
max     247.520800  328.000000            0.0




Cluster 1:

       pclass   survived        age      sibsp      parch        fare  body  \
count    17.0  17.000000  17.000000  17.000000  17.000000   17.000000   0.0
mean      1.0   0.823529  36.705882   1.294118   1.764706  321.408341   NaN
std       0.0   0.392953  16.642433   1.212678   1.300452  109.163539   NaN
min       1.0   0.000000  13.000000   0.000000   0.000000  262.375000   NaN
25%       1.0   1.000000  23.000000   0.000000   1.000000  262.375000   NaN
50%       1.0   1.000000  35.000000   1.000000   2.000000  263.000000   NaN
75%       1.0   1.000000  48.000000   2.000000   2.000000  263.000000   NaN
max       1.0   1.000000  64.000000   3.000000   4.000000  512.329200   NaN

       cluster_group
count           17.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0




Cluster 2:

       pclass   survived        age      sibsp      parch       fare  \
count    10.0  10.000000   8.000000  10.000000  10.000000  10.000000
mean      3.0   0.100000  39.875000   0.800000   6.000000  42.703750
std       0.0   0.316228   1.552648   0.421637   1.632993  15.590194
min       3.0   0.000000  38.000000   0.000000   5.000000  29.125000
25%       3.0   0.000000  39.000000   1.000000   5.000000  31.303125
50%       3.0   0.000000  39.500000   1.000000   5.000000  35.537500
75%       3.0   0.000000  40.250000   1.000000   6.000000  46.900000
max       3.0   1.000000  43.000000   1.000000   9.000000  69.550000

             body  cluster_group
count    2.000000           10.0
mean   234.500000            2.0
std    130.814755            0.0
min    142.000000            2.0
25%    188.250000            2.0
50%    234.500000            2.0
75%    280.750000            2.0
max    327.000000            2.0